<div class="content-container">

    <div class="image-user">
        <img src="assets/images/images_application/user_default_image.jpg" alt="">
    </div>
    <div class="description-user">
        <div class="data-user">
            <h3>{{ currentUser.name }}</h3>
            <p>{{ currentUser.email }}</p>
        </div>
    </div>
</div>

<div class="content-container actions-user">

    <a class="action-user">
        <div class="description-action">

            <div class="icon-action">
                <mat-icon fontIcon="badge" class="icon"></mat-icon>
            </div>

            <div class="description">
                <h3>Minhas informações</h3>
                <p>São informações que você preenche para usar sua conta</p>
            </div>

        </div>
        <div class="icon-arrow">
            <mat-icon fontIcon="navigate_next"></mat-icon>
        </div>
    </a>

    <a class="action-user" routerLink="/my-profile/my-adresses">

        <div class="description-action">

            <div class="icon-action">
                <mat-icon fontIcon="location_on" class="icon"></mat-icon>
            </div>

            <div class="description">
                <h3>Meus endereços</h3>
                <p>Endereços que você cadastrou no site</p>
            </div>

        </div>
        <div class="icon-arrow">
            <mat-icon fontIcon="navigate_next"></mat-icon>
        </div>
    </a>

</div>