<section class="form-login">
    <div class="welcome-div">
        <h1 class="welcome-message">Esqueci minha senha</h1>
        <img src="/assets/images/logo/small_logo.png" alt="">
    </div>
    <div class="form-inputs">
        <mat-error *ngIf="messageForm" class="message-form">{{ messageForm }}</mat-error>
        <form [formGroup]="formForgotPassword" (submit)="onSubmit()">
            <span>Digite seu email para enviarmos uma mensagem</span>
            <mat-form-field class="full-width email-input">
                <input matInput placeholder="Email" formControlName="email" #email type="text">
                <mat-error *ngIf="formForgotPassword.get('email')?.invalid">{{ getErrorMessage("email") }}</mat-error>
            </mat-form-field>

            <button class="login-button">Esqueci minha senha</button>
        </form>
    </div>
    <div class="spinner-loader" *ngIf="showSpinnerLoading">
        <app-spinner-loading [diameter]="getDiameterSpinnerLoading()"></app-spinner-loading>
    </div>
    <div class="sign-up-link">
        Já possui conta? Faça o <a routerLink="/auth/login">Login</a>
    </div>
</section>