.content-container {
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px 0px;
}

.menu-subtotal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 190px;
}

.main-content {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 50px;
}

.main-content .itens-cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-content .item-cart {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 8px;
  padding: 20px;
  align-items: center;
  position: relative;
}
