<main class="main-content" *ngIf="products != null; else emptyCart">

  <div class="itens-cart">

    <app-show-item-cart [product]="product" class="content-container item-cart" *ngFor="let product of products" (deleteItemCart)="onDeleteItemCart($event)"></app-show-item-cart>

  </div>

  <div class="content-container menu-subtotal">

    <app-menu-sub-total-cart [menuSubTotalData]="menuSubTotalData"></app-menu-sub-total-cart>

  </div>

</main>

<ng-template #emptyCart>

  Não existe itens no carrinho <!--Implements-->
</ng-template>

