<main class="main-content">

  <div class="itens-cart">

    <div class="content-container item-cart">

      <div class="image-item-cart">
        <img src="{{ product.imageURL }}" alt="">
      </div>
      <div class="name-item-cart">
        <span class="name-product">{{ product.name }}</span>
      </div>
      <div class="quantity-item-cart">

        <div class="menu-increase-decrease-quantity">

          <button class="decrease-button">
            <mat-icon class="mat-18">remove</mat-icon>
          </button>

          <div class="quantity">
            <span>1</span>
          </div>

          <button class="increase-button">
            <mat-icon class="mat-18">add</mat-icon>
          </button>
        </div>

      </div>
      <div class="price-item-cart">
        <span>{{ product.spotPrice| currency: 'BRL' }}</span>
      </div>

    </div>
  </div>

  <div class="content-container menu-subtotal">

    <div class="title-menu-cart">
      <h2>Resumo da compra</h2>
      <hr>
    </div>

    <div class="sub-total-item">
      <span class="item-sub-total">Produtos(1)</span>
      <span class="value-sub-total">{{ 99.99 | currency: 'BRL' }}</span>
    </div>

    <div class="sub-total-item">
      <span class="item-sub-total">Frete</span>
      <span class="value-sub-total-delivery">Grátis</span>
    </div>

    <div class="sub-total-item total-menu-subtotal">
      <span class="title-total-menu-subtototal">Total</span>
      <span class="value-total-menu-subtototal">{{ 99.99 | currency: 'BRL' }}</span>
    </div>
  </div>

</main>
