<div class="display-product">
    <div class="product-image">
        <img src="https://cdn.shoppub.io/cdn-cgi/image/w=1000,h=1000,q=80,f=auto/cenourao/media/uploads/produtos/foto/nhkgvszz/morango.jpg" alt="Produto Exemplo">
    </div>
    <div class="product-details">
        <h1 class="product-title">{{ product.name }}</h1>
        <!-- <div class="categories-product">
            <div class="category-product">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="sell"></mat-icon> Category
            </div>
        </div> -->
        <div class="prices">
            <span class="old-price">{{ product.price | currency: 'BRL' }}</span>
            <p class="price">{{ product.price | currency: 'BRL' }}</p>
            <div class="method-payment">
                no pix <span class="discount-pix">(10% de desconto) <br/></span>
                ou em 2x de R$ 21,00
            </div>
        </div>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae delectus, atque eius porro laborum? Ea quo iusto non delectus dolor, illum temporibus magni animi, quos reiciendis vero, corporis ratione?</p>
        <div class="button-buy">
            <button>Comprar Agora</button>
        </div>
    </div>
</div>