.display-product{

    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2em;
    border-radius: 20px;
    box-shadow: 10px 10px 55px -18px rgba(61,61,61,1);
}

.display-product .product-image{
    width: 100%;
}

.display-product .product-image img{
    width: 100%;
    border-right: 1px solid rgb(129, 129, 129);
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.display-product .product-details{
    margin-top: 40px;
    padding-left: 10px;
}

.display-product .product-details .product-title{
    font-size: 2em;
    font-weight: bold;
}

.display-product .product-details .price{
    font-size: 2em;
    margin: 20px 0px;
}

.display-product .product-details .old-price{
    text-decoration: line-through;
    color: rgb(180, 180, 180);
}