<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
        <aside class="aside-nav">
            <div class="link-user">
                <a routerLink="/my-profile">
                    <mat-icon fontIcon="account_circle"></mat-icon><span>Meu Perfil</span>
                </a>
            </div>
            <div class="link-user">
                <a routerLink="/my-profile">
                    <mat-icon fontIcon="shopping_bag"></mat-icon><span>Meus Pedidos</span>
                </a>
            </div>
            <div class="link-user">
                <a routerLink="/my-profile">
                    <mat-icon fontIcon="shopping_cart"></mat-icon><span>Meu Carrinho</span>
                </a>
            </div>
        </aside>
    </mat-drawer>
    <mat-drawer-content class="main-content">
        <div class="content">
            <app-informations-user [currentUser]="currentUser"></app-informations-user>
        </div>
    </mat-drawer-content>
</mat-drawer-container>