<header>
  <div class="image-header">
    <img src="assets/images/logo/spring_logo_without_bg.png" alt="" routerLink="">
  </div>

  <nav class="nav-header">

    <div *ngIf="isLogged; else loginAndRegister" class="content-user-menu">

      <a href="/my-profile/my-orders">Compras</a>
      <a href="">Favoritos</a>
      
      <div class="cart-section icon-header">
        <mat-icon matBadge="{{ numberOfProductsInCart | cart}}" matBadgeColor="warn" [routerLink]="['/cart']">shopping_cart</mat-icon>
      </div>

      <div class="notification-section icon-header">
        <mat-icon mat-button [matMenuTriggerFor]="menuNotifications" matBadge="{{ dataHeader.listNotifications| notification }}" matBadgeColor="warn">notifications</mat-icon>

        <mat-menu #menuNotifications="matMenu" [xPosition]="'before'">
          <div class="notifications-menu-header">

            <div class="notification-menu-header" *ngFor="let notification of dataHeader.listNotifications" id="notification-{{ notification.id }}">

              <span class="title-notification">{{ notification.title }}</span>
              <div class="text-notification">
                  {{notification.body }}
              </div>

            </div>
          </div>
          
        </mat-menu>
      </div>


      <button mat-button [matMenuTriggerFor]="userMenu" class="btn-to-show-menu-user">
        <div class="user-informations">
          <div class="image-user-menu">

            <img src="assets/images/images_application/user_default_image.jpg" alt="">

            <mat-menu #userMenu="matMenu">
              <a class="link-user-menu" routerLink="/my-profile"><button mat-menu-item><mat-icon
                    fontIcon="person"></mat-icon> <span>Minha Conta</span></button></a>
              <a class="link-user-menu" routerLink="/my-profile/my-orders"><button mat-menu-item><mat-icon
                    fontIcon="shopping_bag"></mat-icon><span>Meus Pedidos</span></button></a>
              <a class="link-user-menu" [routerLink]="['/cart']"><button mat-menu-item><mat-icon fontIcon="shopping_cart"></mat-icon><span>Meu
                    Carrinho</span></button></a>
              <a class="link-user-menu" (click)="logout()"><button mat-menu-item><mat-icon
                    fontIcon="logout"></mat-icon><span>Sair</span></button></a>
            </mat-menu>
          </div>
          <div class="icon-user-menu">
            <mat-icon fontIcon="arrow_drop_down"></mat-icon>
          </div>
        </div>
      </button>
    </div>

    <ng-template #loginAndRegister>
      <div class="btn-login-nav">
        <button class="btn-login" routerLink="auth/login">Login</button>
        <button class="btn-sign-up" routerLink="auth/register">Registrar-se</button>
      </div>
    </ng-template>
  </nav>
</header>
