<header>
    <div class="image-header">
        <img src="assets/images/logo/spring_logo_without_bg.png" alt="" routerLink="">
    </div>

    <nav class="nav-header">
        <ul>
            <li> <a href="">Home</a></li>
            <li> <a href="">Alugar</a></li>
            <li> <a href="">Quem Somos</a></li>
        </ul>

        <div *ngIf="!isLogged ; else loginAndRegister" class="content-user-menu">
            <button mat-button [matMenuTriggerFor]="userMenu" class="btn-to-show-menu-user">
                <div class="user-informations">
                    <div class="image-user-menu">

                        <img src="assets/images/images_application/user_default_image.jpg" alt="">

                        <mat-menu #userMenu="matMenu">
                            <button mat-menu-item><a href="" class="link-user-menu"><mat-icon fontIcon="person"></mat-icon> <span>Minha Conta</span></a></button>
                            <button mat-menu-item><a href="" class="link-user-menu"><mat-icon fontIcon="shopping_bag"></mat-icon><span>Meus Pedidos</span></a></button>
                        </mat-menu>
                    </div>
                    <div class="icon-user-menu">
                        <mat-icon fontIcon="arrow_drop_down"></mat-icon>
                    </div>
                </div>
            </button>
        </div>
        <ng-template #loginAndRegister>
            <div class="btn-login-nav">
                <button class="btn-login" routerLink="auth/login">Login</button>
                <button class="btn-sign-up" routerLink="auth/register">Registrar-se</button>
            </div>
        </ng-template>
    </nav>
</header>