<header>
    <div class="image-header">
        <img src="assets/images/logo/spring_logo_without_bg.png" alt="" routerLink="">
    </div>

    <nav class="nav-header">
        <ul>
            <li> <a href="">Home</a></li>
            <li> <a href="">Alugar</a></li>
            <li> <a href="">Quem Somos</a></li>
        </ul>
        <div class="btn-login-nav" *ngIf="!(isLogged)">
            <button class="btn-login" routerLink="auth/login">Login</button>
            <button class="btn-sign-up" routerLink="auth/register">Registrar-se</button>
        </div>
    </nav>
</header>