<div class="content-container" *ngFor="let adress of currentUser.listAdress">

  <div class="menu-adress">
    <button mat-button [matMenuTriggerFor]="adressMenu" class="btn-menu-adress">
      <div class="option-adress">
        <mat-menu #adressMenu="matMenu">

          <a class="link-adress-menu" routerLink="/my-profile/my-adresses/delete/1"><button mat-menu-item><mat-icon fontIcon="edit"></mat-icon> <span>Editar</span></button></a>
          <a class="link-adress-menu"><button mat-menu-item><mat-icon fontIcon="delete"></mat-icon> <span>Excluir</span></button></a>
        </mat-menu>
        <mat-icon fontIcon="more_vert"></mat-icon>
      </div>
    </button>
  </div>

  <div class="icon-adress">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      fontIcon="{{ adress.typeAdress | typeAdressIcon }}"></mat-icon>
  </div>
  <div class="name-adress">{{ adress.name }}</div>
  <div class="street-adress">{{ adress.street }}, {{ adress.number }}</div>
  <div class="information-adress">
    CEP {{ adress.cep }} - {{ adress.state }} - {{ adress.city }}
  </div>

</div>

<a class="content-container add-adress" routerLink="/my-profile/my-adresses/add">

  <div class="title-add-adress">
    Adicionar Endereço
  </div>
  <div class="icon-add-adress">
    <mat-icon fontIcon="navigate_next"></mat-icon>
  </div>

</a>
