<nav>
    <div class="show-favorites">
      <a routerLink="/category/b4f7bf8e-3f99-4c42-9cb2-cf5199116afd">Tecnologia</a>
      <a href="/category/e0b50eef-beae-4b20-a49c-1053601774c0">Eletrodomésticos</a>
    </div>
    <div class="input-search">
        <input type="text" placeholder="Pesquisar pelo Produto..">
    </div>
    <div class="show-favorites">
      <a routerLink="/category/b4f7bf8e-3f99-4c42-9cb2-cf5199116afd">Tecnologia</a>
      <a href="/category/e0b50eef-beae-4b20-a49c-1053601774c0">Eletrodomésticos</a>
    </div>
</nav>
