.title-menu-cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  padding: 0 20px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.sub-total-item {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}

.total-menu-subtotal span {
  margin: 8px 0;
  font-size: 1.15em;
  font-weight: 600;
}

.sub-total-item .value-sub-total-delivery {
  color: #00a650;
}

.menu-cart hr {
  border-color: #ffffff;
}

.button-finish-order {
  background-color: #272D2D;
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 14px;
  border: 0;
  font-size: 1.1em;
  padding: 10px 40px;
  margin-top: 10px;
}

.button-finish-order:hover{
  cursor: pointer;
}