<div class="title-menu-cart">
  <h2>Resumo da compra</h2>
  <hr>
</div>

<div class="sub-total-item">
  <span class="item-sub-total">Produtos({{ menuSubTotalData.numberOfProducts }})</span>
  <span class="value-sub-total">{{ menuSubTotalData.valueTotalOfProducts | currency: 'BRL' }}</span>
</div>

<div class="sub-total-item">
  <span class="item-sub-total">Frete</span>
  <span class="value-sub-total-delivery">Grátis</span>
</div>

<div class="sub-total-item total-menu-subtotal">
  <span class="title-total-menu-subtototal">Total</span>
  <span class="value-total-menu-subtototal">{{ menuSubTotalData.totalOrder| currency: 'BRL' }}</span>
</div>