<div class="content-container">
    <div class="icon-adress">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </div>
    <div class="street-adress">Avenida Av. Benjamin Harris Hunicutt 178</div>
    <div class="information-adress">
        CEP 07191010 - São Paulo - Guarulhos
    </div>

    <!-- <div class="menu-adress">
        <mat-icon fontIcon="more_vert"></mat-icon>
    </div> -->
</div>

<a class="content-container add-adress">

    <div class="title-add-adress">
        Adicionar Endereço
    </div>
    <div class="icon-add-adress">
        <mat-icon fontIcon="navigate_next"></mat-icon>
    </div>

</a>