<div class="content-container">
    <h1 class="title-add-adress">Adicionar Endereço</h1>
</div>

<div class="content-container">

    <form [formGroup]="formAddAdress" class="form-add-adress">

        <div class="row-input-adress">
            <mat-form-field class="full-width input-add-adress">
                <input matInput placeholder="Nome do Endereço" formControlName="name" #name>
                <!-- <mat-error *ngIf="formAddAdress.get('email')?.invalid">{{ getErrorMessage("email") }}</mat-error> -->
            </mat-form-field>
    
            <mat-form-field class="full-width input-add-adress">
                <input matInput placeholder="CEP" formControlName="cep" #cep (blur)="searchCEP()" [maxlength]="8" [minlength]="8">
                <!-- <mat-error *ngIf="formAddAdress.get('password')?.invalid">{{ getErrorMessage("password") }}</mat-error> -->
            </mat-form-field>
        </div>

        <div class="row-input-adress">
            <mat-form-field class="full-width input-add-adress">
                <input matInput placeholder="Estado" formControlName="state" #state>
                <!-- <mat-error *ngIf="formAddAdress.get('email')?.invalid">{{ getErrorMessage("email") }}</mat-error> -->
            </mat-form-field>
    
            <mat-form-field class="full-width input-add-adress">
                <input matInput placeholder="Cidade" formControlName="city" #city>
                <!-- <mat-error *ngIf="formAddAdress.get('password')?.invalid">{{ getErrorMessage("password") }}</mat-error> -->
            </mat-form-field>
        </div>

        <div class="row-input-adress">
            <mat-form-field class="full-width input-add-adress">
                <input matInput placeholder="Bairro" formControlName="neighborhood" #neighborhood>
                <!-- <mat-error *ngIf="formAddAdress.get('email')?.invalid">{{ getErrorMessage("email") }}</mat-error> -->
            </mat-form-field> 
    
            <mat-form-field class="full-width input-add-adress">
                <input matInput placeholder="Logradouro" formControlName="street" #street>
                <!-- <mat-error *ngIf="formAddAdress.get('password')?.invalid">{{ getErrorMessage("password") }}</mat-error> -->
            </mat-form-field>
        </div>

        <div class="row-input-adress">
            <mat-form-field class="full-width input-add-adress">
                <input matInput placeholder="Número" formControlName="number" #number>
                <!-- <mat-error *ngIf="formAddAdress.get('email')?.invalid">{{ getErrorMessage("email") }}</mat-error> -->
            </mat-form-field> 
    
            <mat-form-field class="full-width input-add-adress">
                <input matInput placeholder="Complemento" formControlName="complement" #complement>
                <!-- <mat-error *ngIf="formAddAdress.get('password')?.invalid">{{ getErrorMessage("password") }}</mat-error> -->
            </mat-form-field>
        </div>        
        
        <button class="btn-add-adress" (click)="onSubmit()">Cadastrar</button>
    </form>
</div>