@import '@angular/material/theming';

@include mat-core();

$custom-app-primary: mat-palette($mat-gray, 900);
$custom-app-secondary: mat-palette($mat-indigo, A200, A400, 700);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondary, $custom-app-warn);

@include angular-material-theme($custom-theme);

* {
  font-family: 'Gotham';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham/gotham-light.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham/gotham-book.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham/gotham-bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/Gotham/gotham-black.woff2') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.container {
  padding: 90px 0;
}

button:active {
  transform: scale(0.95);
}

mat-icon {
  color: #272D2D;
}
