<div class="content-container">
  <h1 class="title-add-adress">Adicionar Endereço</h1>
</div>

<div class="content-container">

  <form [formGroup]="formAddAdress" class="form-add-adress">
    <div class="row-input-adress">
      <mat-form-field class="full-width input-add-adress">
        <input matInput placeholder="Nome do Endereço" formControlName="name" #name>
        <mat-error *ngIf="formAddAdress.get('name')?.invalid">{{ getErrorMessage("name") }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width input-add-adress">
        <input matInput placeholder="CEP" formControlName="cep" #cep (blur)="searchCEP()" [maxlength]="8"
          [minlength]="8">
        <mat-error *ngIf="formAddAdress.get('cep')?.invalid">{{ getErrorMessage("cep") }}</mat-error>
      </mat-form-field>
    </div>

    <div class="row-input-adress">
      <mat-form-field class="full-width input-add-adress">
        <input matInput placeholder="Estado" formControlName="state" #state>
        <mat-error *ngIf="formAddAdress.get('state')?.invalid">{{ getErrorMessage("state") }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width input-add-adress">
        <input matInput placeholder="Cidade" formControlName="city" #city>
        <mat-error *ngIf="formAddAdress.get('city')?.invalid">{{ getErrorMessage("city") }}</mat-error>
      </mat-form-field>
    </div>

    <div class="row-input-adress">
      <mat-form-field class="full-width input-add-adress">
        <input matInput placeholder="Bairro" formControlName="neighborhood" #neighborhood>
        <mat-error *ngIf="formAddAdress.get('neighborhood')?.invalid">{{ getErrorMessage("neighborhood") }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width input-add-adress">
        <input matInput placeholder="Logradouro" formControlName="street" #street>
        <mat-error *ngIf="formAddAdress.get('street')?.invalid">{{ getErrorMessage("street") }}</mat-error>
      </mat-form-field>
    </div>

    <div class="row-input-adress">
      <mat-form-field class="full-width input-add-adress">
        <input matInput placeholder="Número" formControlName="number" #number>
        <mat-error *ngIf="formAddAdress.get('number')?.invalid">{{ getErrorMessage("number") }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width input-add-adress">
        <input matInput placeholder="Complemento" formControlName="complement" #complement>
        <mat-error *ngIf="formAddAdress.get('complement')?.invalid">{{ getErrorMessage("complement") }}</mat-error>
      </mat-form-field>
    </div>

    <button class="btn-add-adress" (click)="onSubmit()">Cadastrar</button>
  </form>
</div>
